.player-box {

    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 20px 20px;
}

.player-body {

    width: 50%;
    margin: 0px auto;
}

.player-body > div {

    position: relative;
}

.audio-control-box {

    width: 25%;
}

.audio-control-box img{

    width: 30%;
    height: 100%;
}

.slider {

    width: 50%;
    margin: 0px auto;
}

.slide-seeker {

    height: 1px;
    background-color: black;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.seek-draggable {

    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 100%;
    margin: 0px auto;
    position: absolute;
    z-index: 5;
}